@charset "UTF-8";

*{
    --cor0: #49a09d;
    --cor1: #5f2c82;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--cor1);
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    display: block;
    background-color: white;
    width: 250px;
    height: 525px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /*O que tiver fora da borda esconde*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease; /*Faz uma alteração suave*/
}
section #imagem{
    display: block;
    background: var(--cor1) url(../imagens/fundo.jpg);
    height: 200px;
    background-size: cover;
}
section #form{
    padding: 10px;
}
section #form h1{
    text-align: center;
    color: #49a09d;
    padding-bottom: 20px;
}
section #form p.desc{
    font-size: 0.8em;
    padding-bottom: 20px;
}
form div.campoForm{
    background-color: var(--cor1);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0;    
}
form div.campoForm label{
    display: none;
}
form input[type=submit]{
    display: block;
    width: 100%;
    height: 40px;
    background-color: var(--cor0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form input[type=submit]:hover{
    background-color: #2d6462;
}
form a.botao{
    display: block;
    text-align: center;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #2d6462;  
    border: 1px solid #49a09d;  
    border-radius: 5px;
    text-decoration: none;
}
form a.botao:hover{
    background-color: #6cd3cf;
}
